name: Java CI with Maven

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted  # This indicates that the job will run on your self-hosted runner
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: temurin
          cache: maven

      - name: Compile Code
        run: mvn compile

      - name: Run Tests
        run: mvn test

      - name: Trivy Filesystem Scan
        run: trivy fs --format table -o fs.html .

      - name: SonarQube Analysis
        run: |
          docker run --rm \
            -e SONAR_TOKEN=${{ secrets.SONAR_TOKEN }} \
            -e SONAR_SCANNER_OPTS="-Dsonar.host.url=http://192.168.0.138:9000" \
            -v $(pwd):/usr/src \
            sonarsource/sonar-scanner-cli \
            -Dsonar.projectName=Blogging-app \
            -Dsonar.projectKey=Blogging-app \
            -Dsonar.java.binaries=target

      - name: Package Application
        run: mvn package

      - name: Create Maven Settings File
        run: |
          echo "${{ secrets.MAVEN_SETTINGS }}" > settings.xml

      - name: Deploy Artifacts to Nexus
        env:
          NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}   # Your Nexus username secret
          NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}   # Your Nexus password secret
        run: mvn deploy --settings settings.xml

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Tag Docker Image
        run: docker build -t devoops39/bloggingapp:latest .

      - name: Trivy Image Scan
        run: trivy image --format table -o image.html devoops39/bloggingapp:latest

      - name: Push Docker Image
        run: docker push devoops39/bloggingapp:latest
